/* Icon */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}
	}

  .fa {
    color: black;
  }

  #location {
    line-height: 25px;
    margin-left: 10px;
  }

  span {
    display: inline-flex;
  }
